%h1
  Home#Index

= current_user.email if current_user
%br
- if current_user
  = link_to 'Create Theme', new_theme_path
  %br
  = link_to 'Create NPC', new_npc_path
  %br
  = link_to 'Create Item', new_item_path
  %br
  = link_to 'Create New Game', new_game_path
  %br
- else 
  = link_to 'Sign In', new_user_session_path
  %br
  = link_to 'Sign Up', new_user_registration_path

%hr

Themes:
%br
- Theme.all.each do |theme|
  = theme.name
  %br
NPCs:
%br
- Npc.all.each do |npc|
  = npc.name
  %br
Items:
%br
- Item.all.each do |item|
  = item.name
  %br
