.container-fluid                                                                         
  .row.fixed-window                                                                      
    .col-md-3
      .hidden-xs.hidden-sm                                                               
        = render 'partials/scene'
        render 'effect'
    .col-md-6                                                                            
      = render 'partials/hud'      
      = render 'partials/grid'                                                                    
    .col-md-3                                                                            
      = render 'partials/npc'                                                                     
      = render 'partials/item'
      
  %hr   
  .visible-xs-block.visible-sm-block.hidden-md.hidden-lg                                 
    render 'feed'                                                                      
    %hr
    
  .row
    .col-sm-3
      = render 'partials/status'                                                                  
    .col-sm-6                                                                            
      .visible-xs-block.visible-sm-block.hidden-md.hidden-lg                             
        = render 'partials/scene'
        render 'effect'
      .hidden-xs.hidden-sm.visible-md-block.visible-lg-block                             
        render 'feed'
    .col-sm-3
      render 'inventory'                                                               
        
  if current_user.admin?                                                               
  render 'admin'                                                                     
  
  #spacer
  #footer 
    = render 'partials/controller'
