= form_for(@player) do |f|
  = f.label :name
  = f.text_field :name
  
  = f.label :description
  = f.text_field :description

  = f.label :theme
  = f.collection_select :theme_id, Theme.all, :id, :name

  = f.label :base_attack
  = f.text_field :base_attack

  = f.label :base_defense
  = f.text_field :base_defense

  = f.label :base_health
  = f.text_field :base_health

  = f.submit 'Submit'
