= form_for(@item) do |f|
  = f.label :name
  = f.text_field :name
  
  = f.label :description
  = f.text_field :description

  = f.label :theme
  = f.collection_select :theme_id, Theme.all, :id, :name

  = f.label :seed_min
  = f.text_field :seed_min

  = f.label :seed_max
  = f.text_field :seed_max
  
  = f.label :attack_buff
  = f.text_field :attack_buff

  = f.lable :defense_buff
  = f.lable :defense_buff

  = f.submit 'Submit'
