= form_for(@npc) do |f|
  = f.label :name
  = f.text_field :name
  
  = f.label :description
  = f.text_field :description

  = f.label :theme
  = f.collection_select :theme_id, Theme.all, :id, :name

  = f.label :seed_min
  = f.text_field :seed_min

  = f.label :seed_max
  = f.text_field :seed_max
  
  = f.submit 'Submit'
